{% extends "app/base.html" %}
{% load humanize %}
{% load static %}

{% block contenido %}
 
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
      <table class="table table-dark table-striped">
          <thead>
              <tr>
                  <th scope="col" colspan="4" class="text-center">CARRITO</th>
              </tr>
              <tr>
                  <th scope="col">NOMBRE</th>
                  <th scope="col">PRECIO</th>
                  <th scope="col">CANTIDAD</th>
                  <th scope="col">ACCIONES</th>
              </tr>
          </thead>
          <tbody>
              {% if items %}
                  {% for detalle in items %}
                      <tr>
                          <td>{{ detalle.producto.nombre_p }}</td>
                          <td>${{ detalle.producto.valor }}</td>
                          <td>{{ detalle.cantidad_productos }}</td>
                          <td class="d-flex">
                              <form method="post" action="{% url 'agregar_al_carrito' detalle.producto.id %}">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-success me-1">+</button>
                              </form>
                              <form method="post" action="{% url 'quitar_del_carrito' detalle.producto.id %}">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-danger me-1">-</button>
                              </form>
                              <form method="post" action="{% url 'eliminar_del_carrito' detalle.producto.id %}">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-danger me-1"><i class="fa-solid fa-trash"></i></button>
                              </form>
                          </td>
                      </tr>
                  {% endfor %}
              {% else %}
                  <tr>
                      <td colspan="4">
                          <div class="text-center">Sin Productos</div>
                      </td>
                  </tr>
              {% endif %}
              <tr>
                  <th scope="row">Total:</th>
                  <td colspan="3">${{ order.get_total }}</td>
              </tr>
          </tbody>
      </table>
      <hr>
      <div class="row text-center">
          <div class="col-6">
              <a href="{% url 'pago' %}" class="btn btn-primary">Comprar</a>
              <a href="{% url 'index' %}" class="btn btn-primary">Seguir comprando</a>
          </div>
      </div>
  </div>
</div>


{% endblock contenido %}


