{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
  <title>Inicio de Sesion</title>
</head>

<body>
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h2>Contraseña Cambiada Exitosamente</h2>
              <a class="navbar-brand" href="{% url 'index' %} ">
                <a class="btn btn-primary">Volver</a>
            </a>
            </div>
          </div>
        </div>
      </div>
    <script src="{%static 'js/Form_Sesion.js' %}"></script>
</body>

</html>
