{% load static %}
{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

            <div class="card mt-2 shadow rounded">
                <div class="card-body">
                    <h2 class="card-title text-center"> </h2>
                    <div class="p-5">
                        <img src="">
                    </div>
                     <h6>Id: </h6>
                     <p>Nombre:</p>
                     <p>Valor : </p>
                </div>
            </div>
            <div class="col-lg-4">
    </div>

</div>

{% endblock contenido %}
