{% extends "app/base.html" %}
{% load static %}
{%load humanize%}

{% block contenido %}

        <section class="vh-150 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">
                                    <div class="col-lg-7">
                                        <h5 class="mb-3"><a href="{% url "pedidos_adm" %}" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Pedidos</a>
                                        </h5>
                                        <hr>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1">Cliente: {{ boleta.cliente.username }} </p>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            {% for item in productos %}
                                            <div class="card border-0 mb-3 row">
                                                <img class="col-md-4 img-fluid rounded-start" src="{{item.producto.imagen.url}}" alt="{{item.producto.nombre_p}}">
                                              <div class="card-body col-md-8">
                                                <h5 class="card-title">{{item.producto.nombre}}</h5>
                                                <p class="card-text">productos : {{item.cantidad_productos}}</p>
                                                <ul class="list-group list-group-flush">
                                                  <li class="list-group-item">Total : ${{item.get_total|intcomma}}</li>
                                                </ul>
                                              </div>
                                            </div>
                                            {% endfor %}
                                                <div class="d-flex flex-row align-items-center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </form>

                                <hr class="my-4">

                                <div class="d-flex justify-content-between">
                                    <h4 class="mb-2">Subtotal</h4>
                                    <h4 class="mb-2">${{ boleta.get_total }}</h4>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

{% endblock contenido %}