{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

        
<div class="container bg-dark text-white" style="border-radius: 1rem;">
    <div class="row p-3">
        <img class="col-sm-8 img-fluid" src=" {{ producto.imagen.url}}" width="300" height="400">
        <p class="col-sm-4">{{producto.desc}}</p>
        <div>
            <h1>{{producto.nombre_p}}</h1>
        </div>
        <div class="d-flex ">          
            <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary me-2">Agregar al carrito</button>
            </form>
            <form method="post" action="{% url 'compra' producto.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary me-2">Comprar</button>
            </form>
            <form method="post" action="{% url 'agregar_a_lista' producto.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary me-2"><i class="fa-solid fa-star"></i></button>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}