{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

        <section class="vh-150 gradient-custom" ;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">
                                    <div class="col-lg-7">
                                        <h5 class="mb-3"><a href="PedidosAdmin.html" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Pedidos</a>
                                        </h5>
                                        <hr>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1">Cliente: Pepito Martinez</p>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="img/minecraft.jpg" class="img-fluid rounded-3"
                                                            alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Minecraft</h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">1</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$9000</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </form>

                                <hr class="my-4">

                                <div class="d-flex justify-content-between">
                                    <h4 class="mb-2">Subtotal</h4>
                                    <h4 class="mb-2">$9000</h4>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>

            </div>
            </div>
            </div>
            </div>
            </div>
        </section>

{% endblock contenido %}