{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

  <div class="container bg-dark" style="border-radius: 1rem;">
    <div class="row">

        <div class="col-sm-3 my-2">
            <div class="card" style="width: 18rem;">
                <img src="img/profile.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Descripcion antigua</p>
                </div>
            </div>
            <button class="btn btn-primary my-2 btn-sm " inputmode="file"> 
                <i class="fa-solid fa-camera-retro"> 
                </i> 
            </button>
        </div>

        <div class="col-sm-8 my-2">
            <form action="Perfil.html">
                <div class="me-5">
                    <label for="disabledTextInput" class="form-label">Nuevo nombre</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Joaquin Carrillo">
                </div>
                <div class="me-5 my-2">
                    <label for="disabledTextInput" class="form-label">Nuevo correo electronico</label>
                    <input type="email" id="disabledTextInput" class="form-control" placeholder="Perfil@gmail.com">
                </div>
                <div class="me-5 my-2">
                    <label for="disabledTextInput" class="form-label">Descripcion</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Descripcion nueva">
                </div>
                <div class="my-3">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-sm px-5" type="submit"> 
                        <i class="fa-solid fa-check"> Confirmar Cambios</i> 
                    </button> 
                </div>
            </form>
        </div>

    </div>
  </div>

{%endblock contenido%}