{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<div class="container">
    <h1>Lista de Deseos</h1>

    {% if productos %}
    <ul class="list-unstyled bg-dark ">
        {% for producto in productos %}
        <li class="d-flex mb-4">
            <img src="{{ producto.imagen.url }}" class="mr-3" height="200" width="300" alt="{{ producto.nombre_p }}">
            <div class="me-2 mx-2">
                <p> But I must explain to you how all this mistaken idea of denouncing </p>
                <p> But I must explain to you how all this mistaken idea of denouncing </p>
                <p> But I must explain to you how all this mistaken idea of denouncing </p>

            </div>
            <div>
                <h3>{{ producto.nombre_p }}</h3>
                <p>Valor: ${{ producto.valor }}</p>
                <!-- Puedes agregar más detalles del producto si lo deseas -->
            </div>
            <div class="d-flex flex-row-reverse">
                <br>
                <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary me-2">Agregar al carrito</button>
                </form>
                <form method="post" action="{% url 'eliminar_de_lista' producto.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger me-2">Eliminar</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="mt-4">No tienes productos en tu lista de deseos.</p>
    {% endif %}
</div>
{% endblock contenido %}