{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<div class="container">
  <h2>Resultados de búsqueda</h2>
  <ul>
      {% for producto in productos %}
      <div class="d-flex row bg-dark me- mx-1 my-2" style="border-radius: 1rem;">

        <div class="col-sm-4 my-1">
            <a href="{% url 'detalle_game' producto.id %}">
                <img src="{{ producto.imagen.url }}" class="card-img-top" height="200" width="300">
            </a>
        </div>

        <div class="col-sm-4">
          <div class="my-2">
            <h3> {{ producto.nombre_p}}</h3>
            <p> {{ p.desc}}</p>
          </div>
        </div>

        <div class="col-sm-4 d-flex justify-content-end">
          <div class="my-5">
            <h2>${{producto.valor}}</h2>
          </div>
          <div class="my-5 mx-4">
            <a class="btn btn-primary" role="button" href="{% url 'detalle_game' producto.id %}"> Detalles</a>
          </div>
        </div>
      </div>
      {% empty %}
          <li>No se encontraron productos</li>
      {% endfor %}
  </ul>
</div>

{%endblock contenido%}  