{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<div class="container mt-5 content" id="admin-contenido">
  <h2 class="mt-5 titulo-blanco">Lista de Pedidos</h2>
  <table class="table table-dark table-striped">
      <thead>
          <tr>
              <th class="subtitulo-blanco">Número de Pedido</th>
              <th class="subtitulo-blanco">Cliente</th>
              <th class="subtitulo-blanco">Total</th>
              <th class="subtitulo-blanco">Ver</th>
              <th class="subtitulo-blanco">Actualizar Estado</th>
          </tr>
      </thead>
      <tbody>
          {% for boleta in boletas %}
          <tr>
              <td>{{ boleta.id }}</td>
              <td>{{ boleta.cliente }}</td>
              <td>${{ boleta.get_total }}</td>
              <td>{{ boleta.estado }}</td>
              <td><a href="{% url 'detalle_boleta' boleta.id %}">Detalles</a></td>
 
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock contenido %}
