{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<div class="container">
    <div class="mt-3">
        <div class="row">
            {% for p in productos %}
            <div class="col-sm-4 mb-3">
                <div class="card border border-success">
                    <a href="{% url 'detalle_game' p.id %}">
                        <img src="{{ p.imagen.url }}" class="card-img-top" height="200" alt="{{ p.nombre_p }}">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{ p.nombre_p }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<div class="container py-3">
    <div class="row text-center">
        <div class="col">
            <h2>Valor actual del dólar y euro en pesos chilenos (CLP):</h2>
            <p id="dolar-clp"></p>
            <p id="euro-clp"></p>
        </div>
    </div>
</div>

{% endblock contenido %}