{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<div class="container py-3 " >
    {% for p in productos %}
    <div class="d-flex row bg-dark me- mx-1 my-2" style="border-radius: 1rem;">

        <div class="col-sm-4 my-1">
            <a href="{% url 'detalle_game' p.id %}">
                <img src="{{ p.imagen.url }}" class="card-img-top" height="200" width="300">
            </a>
        </div>

        <div class="col-sm-4">
          <div class="my-2">
            <h3> {{ p.nombre_p}}</h3>
            <p> But I must explain to you how all this mistaken idea of denouncing pleasure and
                praising pain
                was born and I will give you a complete account of the system, and expound the actual teachings of
                the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or
                avoids pleasure itself, because it is pleasure</p>
          </div>
        </div>

        <div class="col-sm-4 d-flex justify-content-end">
          <div class="my-5">
            <h2>${{p.valor}}</h2>
          </div>
          <div class="my-5 mx-4">
            <a class="btn btn-primary" role="button" href="{% url 'detalle_game' p.id %}"> Detalles</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container py-3">
    <div class="row text-center">
        <div class="col">
            <h2>Valor actual del dólar y euro en pesos chilenos (CLP):</h2>
            <p id="dolar-clp"></p>
            <p id="euro-clp"></p>
        </div>
    </div>
</div>

{% endblock contenido %}