{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags%}

{% block contenido %}

<div class = "row">

    <div class= "col-12 col-md-6 offset-md-3">

    <div class="card">
        <div class="card-body">
            <h2>Editar Producto</h2>
            <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{form | crispy}}


                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" href="{% url 'productos_adm'%}"> Cancelar</a>
                        &nbsp
                        &nbsp
                    <input type="submit" value="Editar" class="btn btn-primary">

                </div>   

            </form>    
        

        </div>

    </div>

    </div>


</div>

{% endblock contenido %}

