{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<div class="container mt-5 content" id="admin-contenido">
    <h2 class="mt-5 titulo-blanco">Lista de Pedidos</h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th class="subtitulo-blanco">Número de Pedido</th>
                <th class="subtitulo-blanco">Cliente</th>
                <th class="subtitulo-blanco">Total</th>
                <th class="subtitulo-blanco">ver</th>
                <th class="subtitulo-blanco">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for boleta in boletas  %}
            <tr>
                <td>{{boleta.id}}</td>
                <td>{{boleta.cliente}}</td>
                <td>${{boleta.get_total}}</td>
                <td><a href="{%url 'detalle_boleta' boleta.id%}">Detalles</a></td>
                <td>{{ boleta.get_estado_display }}
                    {% if boleta.completada %}
                        <p>Esta boleta está completada.</p>
                    {% else %}
                        <p>Esta boleta no está completada.</p>
                    {% endif %}

                    <form method="post">
                    {% csrf_token %}
                    {% if not boleta.completada %}
                        <button type="submit" name="marcar_completada">Marcar como completada</button>
                    {% endif %}
                        <button type="submit" name="cancelar">Cancelar boleta</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock contenido %}