{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
        <div class="container bg-dark" style="border-radius: 1rem;">
            <div class="row">

                <div class="col-sm-8 my-2">
                    <div class="me-5">
                        <span>Nombre de Usuario</span>
                        {{ user.username}}

                    </div>
                    <div class="me-5 my-2">
                        <span>Correo Electronico</span>
                        {{ user.email}}

                    </div>
                    <div class="me-5 my-2">
                        <span>Nombre Completo</span>
                        {{user.first_name}} {{ user.last_name }}


                    </div>
                    <div class="my-3 d-flex">
                        <a class="btn btn-primary mx-4" href="{% url "historial_compra" %}" role="button">Historial de compras</a>

                    </div>

                </div>

            </div>
        </div>
{% endblock contenido %}