{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

            <div class="container">
                <h1 class="h4">Usuarios</h1>
                <p><a href="{% url "registrarse" %}" class="nodecolink"><i class="a-solid fa-plus" aria-hidden="true"></i> Registrar Usuario</p></a>
                <div class="mt-2 table-responsive">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre del Cliente</th>
                                <th>Email</th>
                                <th>Videojuegos Comprados</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Pepito Martinez</td>
                                <td>pepitomartinez@gmail.com</td>
                                <td>10</td>
                                <td>
                                    <a href="{% url "registrarse" %}" role="button" class="btn btn-warning text-light"><i
                                        class="fa-solid fa-pen text-white" aria-hidden="true"></i></a>

                                    <a href="#" role="button" class="btn btn-danger"><i class="fa fa-trash"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

{% endblock contenido %}